switch remixdbInternalPacketType {
case 0x04:
    return "", nil
case 0x06:
    return string(b), nil
default:
    return remixdbInternalError(remixdbInternalUnexpectedPacket("string", remixdbInternalPacketType))
}
