(ctx context.Context{{ if ne .Input "" }}, {{ .InputName }} {{ if .InputOptional }}*{{ end }}{{ Switchfile "golang" .Input }}{{ end }}) {{ if eq .Output "" }}error{{ else }}({{ if eq .OutputBehaviour "cursor" }}Cursor[{{ else if eq .OutputBehaviour "array" }}[]{{ end }}{{ if .OutputOptional }}*{{ end }}{{ Switchfile "golang" .Output }}{{ if eq .OutputBehaviour "cursor" }}]{{ end }}, error){{ end }}