if len(b) == 0 {
	return remixdbInternalError(ServerError{
		Code:    "unexpected_void",
		Message: "Unexpected void when a result was expected",
	})
}
remixDbInternalPacketType := b[0]

{{ if .OutputOptional }}if remixDbInternalPacketType == 0x00 {
	return nil, nil
}

remixDbInternalValueNonPtr, err := (func() ({{ if eq .OutputBehaviour "array" }}[]{{ end }}{{ Switchfile "golang" .Output }}, error) {
{{ SwitchyTemplate "golang.output.${.root}" .Output . | Tabify 1 }}})()

if err != nil {
	return nil, err
}
return &remixDbInternalValueNonPtr, nil
{{ else }}{{ SwitchyTemplate "golang.output.${.root}" .Output . }}{{ end }}